@model List<pawpals.Models.DTOs.MemberDTO>

<h2 class="text-center">Member List</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Create New Member</a>
</p>
<br>

<table class="table">
    <thead>
        <tr>
            <th>MemberId</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.MemberId</td>
                <td>@member.MemberName</td>
                <td>@member.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@member.MemberId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@member.MemberId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@member.MemberId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
