@model IEnumerable<pawpals.Models.DTOs.PetDTO>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Pet List</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Create New Pet</a>
</p>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PetId" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.PetId" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.PetId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>