@model IEnumerable<pawpals.Models.Connection>

<h2 class="text-center my-4">Connections</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Create New Connection</a>
</p>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Follower (ID)</th>
            <th>Following (ID)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var connection in Model)
    {
        <tr>
            <td>@connection.Follower.MemberName (@connection.FollowerId)</td>
            <td>@connection.Following.MemberName (@connection.FollowingId)</td>
            <td>
                <a asp-action="Delete" asp-route-id="@connection.ConnectionId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

